# Common
CONFIG_MESH_LITE_ENABLE=y
CONFIG_MESH_LITE_NODE_INFO_REPORT=y
CONFIG_BRIDGE_SOFTAP_SSID_END_WITH_THE_MAC=y

# Leaf role
# (CONFIG_MESH_ROOT is NOT set)

# Your bridge settings
CONFIG_MESH_CHANNEL=11

# UART bridge (S3)
CONFIG_UART_BAUD=115200
CONFIG_UART_RX_GPIO=16
CONFIG_UART_TX_GPIO=17

# UDP forwarding
CONFIG_UDP_PORT=4510
CONFIG_MAX_LINE_LEN=100

#Max Layers
CONFIG_MESH_LITE_MAXIMUM_LEVEL_ALLOWED=10
